
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  
}

.background{
  background: rgb(5, 5, 46);
  width: 80%;
  height: 100vh;
}

.text{
  composes :color_yellow from "./globals.css";
}




.h2{
  composes:color_yellow color_hover from "./globals.css";
}


.container_text{
  width: 100%;
  background:blue;
 
}

@media (max-width:600px) {
  .container_text{
    width: 100%;
    background:rgb(30, 255, 0);
   
  }
}
/* EXTRA CSS */