/* Main component  */
.container_form{
    width: 50%;
    height: 100vh;
    margin-top: 250px;
}

.container_large{
    width: 100%;
    height: 100vh;
    margin-top: 250px;

    animation: increase_width 1s ;
}

@keyframes increase_width {
    from {width:50%;}
    to {width: 100%;}
  }


/* Options section */
.section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 40px;
    width: 100%;
    height: 50px;
}

.anchor:first-child{
    margin-left: 60px;
}

.anchor:nth-child(2){
    margin-left: 140px;
}

.anchor:last-child{
    margin-right: 60px;
}

/* Inputs login section */

.container_center{
    height: 50%;
}

.form{
    height: 100%;
}

.section_signup{
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: height 0.4s ease-out;
}

.section_login{
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: height 0.4s ease-out;
}

.section_reset{
    height: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: height 0.4s ease-out;
}

.input{
    min-height: 45px;
    width: 75%;
    margin-bottom: 30px;
    outline: none;
}

.input:focus, .input:hover{
    border:1px solid rgb(75, 160, 160);
}

/* Buttons section */
.section_buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
}

.button{
    width: 200px;
    height: 40px;
    margin-right: 60px;
    border-style: none;
    border:2px solid blue;
    border-radius: 5px;
    outline: none;
}

.button:disabled{
    background: rgb(206, 206, 206);
    border-style: none;
}




/* Stepper section */
.signup_module{
}


.div_stepper{
}

/* first stepper */

.div_stepper_1{
    height: 100px;
    animation: mymove 1s ;
}







.div_utils{
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
}

.div_symbol{
    width: 50px;
    height:100%;
    background: chartreuse;
}

.span_status{  
    background: linear-gradient(90deg,#4550ce,#3985c5);    
    border-radius: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: update_color 2s;
}

@keyframes update_color{
    from{opacity: 0;}
    to{opacity: 1;}
}


.span_process{  
    background: #787881;    
    border-radius: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: update_color 2s;
}

@keyframes update_color{
    from{opacity: 0;}
    to{opacity: 1;}
}

.div_line{
    height: 60%;
    width: 90%;
    margin: auto;
}



.line{
    background: rgb(125, 33, 246);
    width: 4px;
    height: 100%;
    animation: increase_line 1s ease-in-out;
    border-radius: 20px;
}

@keyframes increase_line{
    from {height: 0;}
    to{height: 100%;}

}


/* second stepper */

.div_stepper_2{
    height: 100px;
    animation: mymove 3s ;
}

.form_signup{
    display: grid;
}


/* INputs in the optional requirements */

.div_inputs{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.input_city{
    min-height: 45px;
    width: 45%;
    margin-bottom: 30px;
    outline: none;
}
.input_phone{
    min-height: 45px;
    width: 35%;
    margin-bottom: 30px;
    outline: none;
}



.input_photo{
    min-height: 45px;
    width: 45%;
    margin-bottom: 30px;
    outline: none;
}

























@keyframes mymove {
    from {opacity:0;}
    to {opacity: 1;}
  }
